export(explore_keywords)
export(explore_subjects)
export(explore_paper)
export(list.topics)
import(dplyr)
import(forcats)
import(ggplot2)
import(stringr)
import(httr)
import(rvest)
importFrom(lubridate,'dmy')
importFrom(purrr,"map")
importFrom(magrittr,"%>%")
importFrom(xml2,"read_html")
importFrom(utils, "browseURL")


