export(explore_keyword)
export(explore_subject)
export(explore_paper)
export(list.topics)
export(url.constructor)
import(httr)
importFrom(dplyr, "tibble","bind_rows")
importFrom(stringr, "str_replace_all","str_to_sentence", "str_to_lower","str_flatten", "str_which","str_remove_all","str_extract")
importFrom(rvest,"html_nodes","html_text","html_attr")
importFrom(lubridate,"dmy","year","today")
importFrom(purrr,"map","map_dfr")
importFrom(magrittr,"%>%")
importFrom(xml2,"read_html")
importFrom(utils, "browseURL")


